.en-tête{
    background-color: #000000;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)), url(../images/back.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 5em;
    text-align:center;
}
.bienvenu-image{
    background-color: #000000;
    background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)), url(../images/welcome.png);
    background-position: center;
    background-size: cover;
    padding: 10em;
    text-align:center;
}
    

    .back{
        height: 100%;
        width: 100%;
        position: center; 
        background-repeat: repeat; 
        size: cover; 
        align-items: center;
        display: flex;
    
    }
    div>ul>li>a:hover{
        color: red;
        transform: scale(1.1);
    }
    .inscription:hover{
        background-color: brown;
        border-radius: 15px;
    }